---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="fs-4 mt-3">Planillas de asistencia</h1>
  <div id="planillas-container"></div>
</BaseLayout>

<script src="../scripts/planillas.ts"></script>